.icon {
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  width: 16px; height: 16px;
}
  .icon.size32 {
    width: 32px; height: 32px;
  }

.icon.spinner,
#spinner {
  background-image: url(/images/embed/ui/spinner_circle.gif);
}
.icon.spinner_dark {
  background-image: url(/images/embed/ui/spinner_circle_dark.gif);
}
.icon.edit_glyph,
.DV-showEdit {
  background-position: center 0;
  background-image: url(/images/DV/embed/twopencils.png);
}
  .icon.edit_glyph_dark {
    background-position: center 0;
    background-image: url(/images/DV/embed/twopencils_dark.png);
  }
  .icon.edit_glyph:hover,
  .icon.edit_glyph_dark:hover,
  .DV-showEdit:hover {
    background-position: center -26px;
  }
.icon.permalink {
  background-position: center 0;
  background-image: url(/images/DV/embed/link.png);
}
  .icon.permalink:hover {
    background-position: center -32px;
  }
.icon.search_glyph {
  width: 12px; height: 12px;
  background-image: url(/images/DV/embed/search_glyph.png);
}

.icon.plus, .icon.minus {
  display: block;
  width: 14px; height: 14px;
  background-position: center center;
}
  .icon.plus {
    background-image: url(/images/embed/ui/plus.png);
  }
  .icon.minus {
    background-image: url(/images/embed/ui/minus.png);
  }

.icon.toggle,
.DV-caret {
  width: 12px; height: 12px;
  background-position: 0 -12px;
  background-image: url(/images/DV/embed/toggle.png);
}
  .icon.toggle:hover {
    background-position: 0 -36px;
  }
  .show_accounts .icon.toggle,
  .icon.toggle.is_enabled,
  .DV-caret {
    background-position: 0 0;
  }
    .show_accounts .icon.toggle:hover,
    .icon.toggle.is_enabled:hover,
    .left_chosen .DV-caret,
    .right_chosen .DV-caret {
      background-position: 0 -24px;
    }

.icon.mini_note, .icon.mini_note_private {
  width: 12px; height: 7px;
  background-image: url(/images/DV/embed/mini_note.png);
}
  .icon.mini_note_private {
    background-image: url(/images/DV/embed/mini_note_private.png);
  }
.icon.mini_redaction {
  width: 8px; height: 4px;
  background: #6a6a6a;
  border: 1px solid #333;
  margin: 1px 0 0 1px;
}

#notifier.warn_style {
  background-image: url(/images/DV/embed/bullet_red.png);
}
#notifier.info_style,
.menu_content .menu_item.checked {
  background-image: url(/images/DV/embed/dark_check.png);
}
.menu_content .menu_item.plus {
  background-image: url(/images/DV/embed/dark_plus.png);
}

/*-------------------- Online Social Services --------------------- */
.login_services {
  list-style: none;
}
  .login_services a.icon {
    font-size: 11px;
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999em;
  }
  .login_services .icon.twitter {
      background: url("/images/DV/embed/social-icons.png");
  }
  .login_services .icon.facebook {
      background: url("/images/DV/embed/social-icons.png") -32px 0;
  }
  .login_services .icon.google {
      background: url("/images/DV/embed/social-icons.png") -64px 0;
  }
  .login_services li {
    display: inline-block;
    margin: 0 5px 0 0;
  }
