.DV-trigger{
  cursor: pointer;
  cursor: hand;
}

.DV-button {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-shadow: #999 0 -1px 0;
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px 6px;
  height: 11px;
  text-align: center;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  box-shadow: 0 1px 2px #bababa; -webkit-box-shadow: 0 1px 2px #bababa; -moz-box-shadow: 0 1px 2px #bababa;
  border: 1px solid #a7a7a7; border-top-color: #b7b7b7; border-bottom-color: #959595;
  background: url(../../../images/DV/embed/button_bg.png) repeat-x left top;
}