<li class="DV-comment">
  <div class="DV-commentMeta">
    <img src="<%= comment.get('avatarUrl') %>"/>
    <p class="DV-commenter"><%= comment.get('commenter') %></p>
  </div>
  <div class="DV-commentBody"><%= comment.get('text') %></div>
</li>
