<div class="DV-comment_header">Reader Comment</div>
<ul class="DV-comment_list">
  <%= comments %>
</ul>
<div class="DV-all_comments">see all comments</div>
<div class="DV-commenting">
  <textarea class="DV-comment_input"></textarea>
  <span class="DV-add_comment DV-button">add comment</span>
</div>
