<% if (description) { %>
  <div class="DV-description">
    <div class="DV-descriptionHead">
      <span class="DV-descriptionToggle DV-showDescription DV-trigger"><%= DV.t('toggle_description') %></span>
      <%= DV.t('description') %>
    </div>
    <div class="DV-descriptionText"><%= description %></div>
  </div>
<% } %>
